Define your color constants :root {
	--primary-color: #7444c0;
	--secondary-color: #5636b8;
	--white: #ffffff;
	--gray: #757e90;
	--dark-gray: #363636;
	--black: #000000;
	--online-status: #46a575;
	--offline-status: #d04949;
	--star-actions: #ffa200;
	--like-actions: #b644b2;
	--dislike-actions: #363636;
	--flash-actions: #5028d7;
	/* --icon-font: "tinderclone"; */
}

:root {
	--dimension-width: 100vw; /* Adjust as needed */
	--dimension-height: 100vh; /* Adjust as needed */
    /* background-color: rgb(200,230,213); */
}

.main {
	/* margin: auto;

	width: 60%; */
height: 100%;
}
.smallMain{
    margin: auto;

	width: 60%;
}
.containerCardItem {
	/* background-color: var(--white);
	border-radius: 8px;
	align-items: center;
	margin: 10px;
	box-shadow: 0 10px 10px 0 var(--black); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.matchesCardItem {
	margin-top: -25px;
	background-color: green;
	padding: 7px 20px;
    padding-bottom: 10px;
	border-radius: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.matchCardItemCenter{
    display: flex;
    justify-content: center;
}

.matchesTextCardItem {
	font-family: var(--icon-font);
	color: var(--white);
}

.descriptionCardItem {
	color: var(--gray);
	text-align: center;
}

.status {
	padding-bottom: 1px;
  padding-top: 10px;
	display: flex;
	align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.statusText {
	color: var(--gray);
	font-size: 13px;
  text-align: center;
  font-weight: bold;
}

.online,
.offline {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	margin-right: 4px;
}

.online {
	background-color: var(--online-status);
}

.offline {
	background-color: var(--offline-status);
}

.actionsCardItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 30px 0;
}

.button,
.miniButton {
	width: 60px;
	height: 60px;
	/* border-radius: 30px; */
	background-color: var(--white);
	margin: 0 7px;
	align-items: center;
	justify-content: center;
	/* box-shadow: 0 20px 20px 0 var(--dark-gray); */
}

.miniButton {
	width: 40px;
	height: 40px;
}

/* .star {
	font-family: var(--icon-font);
	color: var(--star-actions);
} */

/* .like {
	font-size: 25px;
	font-family: var(--icon-font);
	color: var(--like-actions);
}

.dislike {
	font-size: 25px;
	font-family: var(--icon-font);
	color: var(--dislike-actions);
}

.flash {
	font-family: var(--icon-font);
	color: var(--flash-actions);
} */

/* COMPONENT - CITY */
.city {
	background-color: rgb(255, 255, 255);
	padding: 6px;
	border-radius: 30px;
	width: 120px;
    border: none;
	box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.25); 
}

.cityText {
	font-family: var(--icon-font);
	color: var(--dark-gray);
	font-size: 13px;
}

/* COMPONENT - FILTERS */
.filters {
	background-color: rgb(255, 255, 255);
	padding: 6px;
	border-radius: 30px;
	width: 120px;
  border: none;
	box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.25); 
}

.filtersText {
	font-family: var(--icon-font);
	color: var(--dark-gray);
	font-size: 13px;
}

/* COMPONENT - MESSAGE */
.containerMessage {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	padding: 0 10px;
	width: var(--dimension-width);
}

.avatar {
	border-radius: 30px;
	width: 60px;
	height: 60px;
	margin-right: 20px;
	/* margin-vertical: 15px; */
}

.message {
	color: var(--gray);
	font-size: 12px;
	padding-top: 5px;
}

/* COMPONENT - PROFILE ITEM */
.containerProfileItem {
	background-color: var(--white);
	padding: 0 10px;
	padding-bottom: 25px;
	margin: 20px;
	border-radius: 8px;
	margin-top: -65px;
	box-shadow: 0 10px 10px 0 var(--black);
}

.matchesProfileItem {
	width: 131px;
	margin-top: -15px;
	background-color: var(--primary-color);
	padding: 7px 20px;
	border-radius: 20px;
	text-align: center;
	align-self: center;
}

.matchesTextProfileItem {
	font-family: var(--icon-font);
	color: var(--white);
}

.name {
	padding-top: 25px;
	padding-bottom: 5px;
	color: var(--dark-gray);
	font-size: 15px;
	text-align: center;
}

.descriptionProfileItem {
	color: var(--gray);
	text-align: center;
	padding-bottom: 20px;
	font-size: 13px;
}

.info {
	padding: 8px 0;
  padding-left: 60px;
  padding-top: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.iconProfile {
	font-family: var(--icon-font);
	font-size: 12px;
	color: var(--dark-gray);
	padding: 0 10px;
}

.infoContent {
	color: var(--gray);
	font-size: 15px;
}

.bg {
  flex: 1;
	width: var(--dimension-width);
	height: var(--dimension-height);
	background-size: cover;
  background-color: #f9f9f9;
}


.top {
	margin: 0 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    background-color: #f9f9f9;
}
.leftTop, .rightTop{
display: flex;
justify-content: flex-start;
}
.topItem{
    margin-left: .5rem;
    margin-right: .5rem;
}
.middleTop{

}
.homeTextField{
    /* margin-left:auto ; */
    background-color: rgba(255,255,255,.8);
}
.tf{
    margin: auto;
}

.top > *:not(:last-child) {
  margin-right: 20px; 
}

.title {
	/* padding-bottom: 10px; */
	font-size: 40px;
  /* padding-top: 30px; */
  background-color: #ffffff;
	color: var(--dark-gray);
}

.icon {
	font-family: var(--icon-font);
	font-size: 20px;
	color: var(--dark-gray);
	padding-right: 10px;
}

/* CONTAINER - HOME */
.containerHome {
	margin: 0 10px;
  background-image: url('./images/bgmaybe.PNG');
  height: 100%;


}
#CardItemHolder{
    display: flex;
    justify-content: center;
    height: 100%;
}

/* CONTAINER - MATCHES */
.containerMatches {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./images/bgmatches.png');
  padding-top: 50px;
  /* min-height: calc(100vh - 60px); Subtract the height of the bottom bar */
  padding-bottom: 150px; /* Add padding to the bottom to avoid overlap with the bottom bar */
  overflow-y: auto; /* Enable scrolling when content exceeds the available height */
}

.containerMessages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./images/bgmatches.png');
  min-height: calc(100vh - 60px); /* Subtract the height of the bottom bar */
  padding-bottom: 150px; /* Add padding to the bottom to avoid overlap with the bottom bar */
  overflow-y: auto; /* Enable scrolling when content exceeds the available height */
}

/* CONTAINER - PROFILE */
.containerProfile {
	margin: 0;
}

.photo {
	width: var(--dimension-width);
	height: 450px;
}

.topIconLeft {
	font-family: var(--icon-font);
	font-size: 20px;
	color: var(--white);
	padding-left: 20px;
	margin-top: -20px;
	transform: rotate(90deg);
}

.topIconRight {
	font-family: var(--icon-font);
	font-size: 20px;
	color: var(--white);
	padding-right: 20px;
}

.actionsProfile {
	justify-content: center;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.iconButton {
	font-family: var(--icon-font);
	font-size: 20px;
	color: var(--white);
}

.textButton {
	font-family: var(--icon-font);
	font-size: 15px;
	color: var(--white);
	padding-left: 5px;
}

.circledButton {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: var(--primary-color);
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.roundedButton {
	justify-content: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 10px;
	height: 50px;
	border-radius: 25px;
	background-color: var(--secondary-color);
	padding: 0 20px;
}
.cardItemButtons{
    background-color: transparent;
    border: none;

}
#cardItemButtonDiv{
    display: flex;
    justify-content: center;
}
.CardItemHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100%; */
    /* flex-direction: column; */
}
.matchesCardItemContainer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}

/* MENU */
.tabButton {
	padding-top: 20px;
	padding-bottom: 30px;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.tabButtonText {
	text-transform: uppercase;
}

.iconMenu {
	font-family: var(--icon-font);
	height: 20px;
	padding-bottom: 7px;
}

.chatCenterDiv{
    display: flex;
    justify-content: center;
}
.avatar:hover {
    transform: scale(1.1);
  }
  
  .matched-popup {
    position: fixed;
    top: 400px;
    left: calc(100vh - 250px);
    width: 500px;
    border-radius: 30px;
    height: 50px;
    background: rgb(255, 255, 255); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    pointer-events: none; /* Allow clicks behind the popup */
  }
  
  .matched-popup strong {
    color: green;
    font-weight: bold;
    font-size: 30px;
  }
  
  /* .centerIcon{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
.outerThingLol{
} */
.changeTextColor{
    color: white;
    font-weight: bold;
}