.vy-button {
    background-color: #f9f9f9;
    border: none;
    /* padding: 0px 0px; */
    margin: 0px 0;
    box-sizing: border-box;
    display: block;
}

.vy-card {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 0px 0px;
    width: 250px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.15); 
}

.vy-circle {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 30px;
    width: 50px;
    border: none;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.25); 
}

.vy-card-matches {
    background-color: #f9f9f9;
    border: none;
}

.search-bar {
    padding-left: 20px;
    padding-bottom: 15px;
}

.search-input {
    border-radius: 15px;
    border: none;
    background-color: #dbdbdb;
    padding: 10px;
    width: 500px;
    padding-left: 40px;
    font-size: 16px;
}

.search-icon {
    /* position: absolute; */ 
}